<html>
	<head>
		<style type="text/css">
			*
			{
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h2>Caesar Cipher</h2>
		<form>
			Insert the text to cipher :<br>
			<textarea name="message" placeholder="Your message ..."></textarea><br><br>
			Key : <input type="number" name="key" value="5"><br><br>
			<input type="submit" value="Cipher">
		</form>

		<% if ciphered %>
			<p>The message ciphered is : <%= ciphered %></p>
		<% end %>

	</body>
</html>